@import "../../styles/pxToRem.scss";

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px(40) px(30);
}

.userName {
  font-size: px(25);
  font-weight: bold;
  color: #333;
}

.newChat {
  display: flex;
  align-items: center;
  cursor: pointer;
}
