@import "../../../../styles/pxToRem.scss";

.layout {
  flex-direction: column;
}

.idInput {
  margin-bottom: px(10);
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: px(10);
}
